* {
    font: 400 1em / 1.5 Apercu, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    text-align: center;
}

p {
    font-size: .8em;
}

/* Nav */

header nav ul img {
    margin-top: 1em;
}

header {
    margin: 0;
    background: black;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
}

/* 1e section - (Wo)men */

section article img {
    width: 100vw;
}

#Women1 {
    font-size: 2em;
    color: white;
    position: absolute;
    left: 5%;
    top: 37%;
}

#WomenBtn1 {
    background: white;
    border: none;
    padding: .5em;
    position: absolute;
    left: 5%;
    top: 47%;
}

#Men1 {
    font-size: 2em;
    color: white;
    position: absolute;
    left: 5%;
    top: 77%;
}

#MenBtn1 {
    background: white;
    border: none;
    padding: .5em;
    position: absolute;
    left: 5%;
    top: 87%;
}

/* 2e section - Banner */

.h3black {
    margin: 0;
}

#helft {
    background-color: black;
}

#helft H3 {
    color: white;
    font-size: 2.2em;
    margin-top: .5em;
    display: inline-block;
}

#helft p {
    color: white;
    margin-top: -2em;
}

.helft {
    /* display: inline-block; */
}

#helft #kleinrood {
    font-size: 1em;
    color: red;
    margin: .5em;
}

.redbtn {
    border: none;
    background-color: red;
    color: white;
    margin: 2em;
    margin-top: .2em;
    padding: .7em 1em;
}

/* 3e section - Instagram */

h3 {
    font-size: 2em;
}

#instagram ul {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    margin: 1em;
    grid-gap: 1em;
}

#instagram button {
    border: 1px solid black;
    background-color: white;
    padding: .7em 1em;
}

/* 4e section - Grid */

section h3 ul {
    display: block;
    width: 50%;
}

#CottonClub {
    background-image: url(../images/Cotton\ Club.jpg);
    height: 30.9375em;
    width: 23.875em;
}

#SevenSisters {
    background-image: url(../images/Seven\ Sisters.jpg);
    height: 30.9375em;
    width: 23.875em;
}

#MeltingStockholm {
    background-image: url(../images/Melting\ Stockholm.jpg);
    height: 30.9375em;
    width: 23.875em;
}

#Revelation {
    background-image: url(../images/Revelation.jpg);
    height: 30.9375em;
    width: 23.875em;
}

#BienBleu {
    background-image: url(../images/Bien\ bleu.jpg);
    height: 30.9375em;
    width: 23.875em;
}

#Hallinger {
    background-image: url(../images/Hallinger.jpg);
    height: 30.9375em;
    width: 47.875em;
    grid-column-start: 1;
    grid-column-end: 3;
}

#LostMinds {
    background-image: url(../images/Lost\ Minds.jpg);
    height: 30.9375em;
    width: 23.875em;
}

#DailyAesthetikz {
    background-image: url(../images/Daily\ Aesthetikz.jpg);
    height: 30.9375em;
    width: 23.875em;
}

#AntiBlue {
    background-image: url(../images/Anti\ Blue.jpg);
    height: 30.9375em;
    width: 23.875em;
}

/* 5e section - Banner */

#TheStingBanner {
    margin-top: 2em;
}

textarea {
    margin-top: 1em;
    text-align: center;
    color: lightgrey;
    border: none;
    border-bottom: 1px solid grey;
    width: 15em;
}