* {
    font: 400 1em / 1.5 Apercu, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    text-align: center;
}

p {
    font-size: .8em;
    margin: 1em;
}

button {
    background-color: white;
    border: none;
}

/* Nav */

header nav ul li a {
    display: none;
}

.svg {
    fill: white;
    margin: 0em .5em;
}

header nav ul img {
    margin-top: 1em;
}

header {
    margin: 0;
    background: black;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
}

/* 1e section - (Wo)men */

div {
    display: relative;
}

section article img {
    width: 100vw;
}

#H3Women {
    font-size: 2em;
    color: white;
    position: absolute;
    left: 1em;
    top: 7em;
}

#BtnWomen {
    background: white;
    position: absolute;
    left: 2em;
    top: 19em;
}

#H3Men {
    font-size: 2em;
    color: white;
    position: absolute;
    left: 1em;
    top: 17em;
}

#BtnMen {
    background: white;
    position: absolute;
    left: 2em;
    top: 39em;
}

/* 2e section - Banner */

#helft {
    background-color: black;
}

#helft H3 {
    color: white;
    font-size: 2.2em;
    margin-top: .5em;
    display: inline-block;
}

#helft p {
    color: white;
    margin-top: -2em;
}

#helft #kleinrood {
    font-size: 1em;
    color: red;
    margin: .5em;
}

.redbtn {
    border: none;
    background-color: red;
    color: white;
    margin: 2em;
    margin-top: .2em;
    padding: .7em 1em;
}

/* 3e section - Instagram */

h3 {
    font-size: 2em;
}

#instagram ul {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    margin: 1em;
    grid-gap: 1em;
}

#instagram button {
    border: 1px solid black;
    background-color: white;
    padding: .7em 1em;
}

/* 4e section - Grid */

#Hallinger {
    height: 100%;
    width: 100%;
}

/* 5e section - Banner */

#TheStingBanner {
    margin-top: 2em;
}

textarea {
    margin-top: 1em;
    text-align: center;
    color: lightgrey;
    border: none;
    border-bottom: 1px solid grey;
    width: 15em;
}

/* Footer */

footer {
    margin-top: 2em;
    padding: 1em;
    background-color: #202020;
    color: white;
}
footer ul:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer ul:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: .8em;
}




/* Detail */

#LightGreen {
    background-color: #D0DEC9;
    color: white;
    padding: 1em;
    margin-bottom: .5em;
}

#LightGreen h3 {
    margin: 0;
}

#LightGreen p {
    margin: 0;
}

#DarkGreen {
    background-color: #69967B;
    color: white;
    padding: 1em;
    margin-bottom: .5em;
}

#DarkGreen h3 {
    margin: 0;
}

#DarkGreen p {
    margin: 0;
}

#Banner button {
    position: absolute;
    left: 8em;
    top: 14em;
}

#Truien button {
    position: absolute;
    left: 9.5em;
    top: 47em;
}

#Truien h3 {
    position: absolute;
    left: 4.5em;
    top: 21em;
    color: white;
}

#Allitems button {
    position: absolute;
    left: 9.5em;
    top: 75em;
}

#Allitems h3 {
    position: absolute;
    left: 4em;
    top: 35em;
    color: white;
}

#Sweaters button {
    position: absolute;
    left: 9.5em;
    top: 109em;
}

#Sweaters h3 {
    position: absolute;
    left: 3.8em;
    top: 52em;
    color: white;
}

#Tshirts button {
    position: absolute;
    left: 9.5em;
    top: 136em;
}

#Tshirts h3 {
    position: absolute;
    left: 4.3em;
    top: 65.5em;
    color: white;
}